.header {
  background: #222;
}

.header__content {
  display: flex;
  flex-direction: column;
  padding: $l-size $l-size;

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header_tagline {
  color: #aaa;
  margin: 0;
}

.header__link {
  background: none;
  border: none;
  color: #aaa;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.header__link--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}