.ReactModalPortal > div {
  opacity: 0; //invisible on click, then transition to visible
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex; //enable flexbox
  justify-content: center; //horizontal alignment
  align-items: center; // vertical alignment
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $grey;
  border: 1px solid black;
  border-radius: 1rem;
  color: $teal;
  max-width: 52rem;
  outline: 0;
  padding: $l-size;
  text-align: center;
}

.modal__styled-select {
  background-color: lighten($teal, 20%);;
  border: 1px solid darken($teal, 20%);
  border-radius: 20px;
  height: $l-size;
  overflow: hidden;
  text-align-last:center;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form > * {
  margin-bottom: $m-size;
}

.modal__form--item {
  color: lighten($teal, 20%);
  margin: 0;
  margin-bottom: $m-size;
}

.modal__btn-bar > * {
  margin: 0 $s-size/2 0 $s-size/2;
}

.modal__btn {
  color: #000;
  background: lighten($teal, 20%);;
  border: none;
  border-radius: 8px;
  padding: $s-size;
}