.test {
    background-color: red;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.tabulator .tabulator-col-title{
    text-align:center;
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

.data-input{
    width: 12%;
    margin: 0 auto;
}

.table-data {
    text-align: center;
}
.table-row:hover {
    background-color: #edcc4b;
}

tr:nth-child(even) {background: #f6eff9}
tr:nth-child(odd) {background: #FFF}