// Colors
$blue-primary: #2b4d8c;

$dark-grey: #333;
$grey: #555;
$teal: #2ba85f; //#19a599;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Fonts
$font-heading: Arial, Helvetica, sans-serif;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
